tiktok-telegram-workflow.json
{
  "name": "TikTok to Telegram Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "f6b4c8d0-1234-4567-8901-123456789abc",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/YOUR_TASK_ID/run-sync-get-dataset-items?token=YOUR_API_TOKEN",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "a1b2c3d4-5678-9012-3456-789012345678",
      "name": "Fetch TikTok Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter items based on positive sentiment in comments\nconst items = $input.all();\n\nconst filteredItems = items.filter(item => {\n  const itemData = item.json;\n  const comments = itemData.commentList || [];\n  \n  // Enhanced positive keywords with sentiment analysis\n  const positiveKeywords = [\n    'love', 'helped', 'amazing', 'relieved', 'perfect', 'comfortable', 'works', 'good', 'recommend', 'changed', 'wow',\n    'excellent', 'fantastic', 'awesome', 'brilliant', 'outstanding', 'incredible', 'superb', 'wonderful', 'great',\n    'satisfied', 'happy', 'pleased', 'impressed', 'delighted', 'thrilled', 'grateful', 'thankful',\n    'effective', 'helpful', 'useful', 'beneficial', 'valuable', 'worthwhile', 'game-changer',\n    'best', 'top', 'quality', 'premium', 'superior', 'flawless', 'smooth', 'easy'\n  ];\n  \n  // Check if any comment contains positive keywords\n  const hasPositiveComment = comments.some(comment => {\n    if (!comment.text) return false;\n    const text = comment.text.toLowerCase();\n    return positiveKeywords.some(keyword => text.includes(keyword));\n  });\n  \n  return hasPositiveComment;\n}).map(item => {\n  return {\n    json: {\n      ...item.json,\n      videoUrl: item.json.videoUrl,\n      sentimentScore: 'positive',\n      filteredReason: 'Contains positive sentiment in comments'\n    }\n  };\n});\n\nreturn filteredItems;"
      },
      "id": "sentiment-filter-node-1234",
      "name": "Filter by Positive Sentiment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        570,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.views }}",
              "rightValue": 1000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-6789-0123-4567-890123456789",
      "name": "Filter Products",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        790,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/botTELEGRAM_BOT_TOKEN/sendMessage",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "body": {
          "chat_id": "TELEGRAM_CHAT_ID",
          "text": "🔥 Yeni Ürün Videosu!\n🗣️ Metin: {{ $json[\"title\"] || \"metin yok\" }}\n🏷️ Etiketler: {{ $json[\"hashtags\"] || \"etiket yok\" }}\n🎬 Video: {{ $json[\"videoUrl\"] || \"link bulunamadı\" }}\n✨ Sentiment: {{ $json[\"sentimentScore\"] || \"unknown\" }}"
        },
        "options": {}
      },
      "id": "c3d4e5f6-7890-1234-5678-901234567890",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1010,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Fetch TikTok Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch TikTok Data": {
      "main": [
        [
          {
            "node": "Filter by Positive Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Positive Sentiment": {
      "main": [
        [
          {
            "node": "Filter Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Products": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12345678-1234-1234-1234-123456789012",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "87654321-4321-4321-4321-210987654321",
  "tags": []
}